<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer class="footer">
    <div class="container">
        <a href="" class="footer-logo">Web<span class="colorsplit-footer">Studio</span></a>
        <address class="address">
            <ul class="address-list">
                <li class="address-items">
                    <a href="" class="map-location">м. Київ, пр-т Лесі Українки, 26</a>
                </li>
                <li class="address-items">
                    <a href="mailto:info@devstudio.com" class="mail-footer">info@devstudio.com</a>
                </li>
                <li class="address-items">
                    <a href="tel:+380961111111" class="phone-footer">+38 096 111 11 11</a>
                </li>
            </ul>
        </address>
    </div>
</footer>

</body>
</html>