<!DOCTYPE html>
<html lang="uk" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
  <header class="header">
    <div class="container line-nav">
      <nav class="navigation">
        <a href="" class="header-logo">Web<span class="colorsplit-header">Studio</span></a>
        <ul class="site-nav">
          <li class="nav-link"><a href="../templates/home.html" class="link current">Студія</a></li>
          <li class="nav-link"><a href="portfolio.html" class="link">Портфоліо</a></li>
          <li class="nav-link"><a href="" class="link">Контакти</a></li>
        </ul>
      </nav>
      <ul class="contact-links">
        <li><a href="mailto:info@devstudio.com" class="mail">info@devstudio.com</a></li>
        <li><a href="tel:+380961111111" class="phone">+38 096 111 11 11</a></li>
      </ul>
    </div>
  </header>

</body>
</html>