<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css">
    <link rel="stylesheet" href="/css/portfolio.css">
</head>
<body>
    <header class="header">
        <div class="container line-nav">
            <nav class="navigation">
                <a href="" class="header-logo">Web<span class="colorsplit-header">Studio</span></a>
                <ul class="site-nav">
                    <li class="nav-link"><a href="./home.html" class="link">Студія</a></li>
                    <li class="nav-link"><a href="./portfolio.html" class="link current">Портфоліо</a></li>
                    <li class="nav-link"><a href="" class="link">Контакти</a></li>
                </ul>
            </nav>
            <ul class="contact-links">
                <li><a href="mailto:info@devstudio.com" class="mail">info@devstudio.com</a></li>
                <li><a href="tel:+380961111111" class="phone">+38 096 111 11 11</a></li>
            </ul> 
        </div>
    </header>
    <main>
    <section>
            <h1 hidden>buttons navigation menu</h1>
            <div class="container">
                <ul class="button-list">
                    <li><button type="button" class="button-portfolio">Усі</button></li>
                    <li><button type="button" class="button-portfolio">Веб-сайти</button></li>
                    <li><button type="button" class="button-portfolio">Додатки</button></li>
                    <li><button type="button" class="button-portfolio">Дизайн</button></li>
                    <li><button type="button" class="button-portfolio">Маркетинг</button></li>
                </ul>
            </div>
        <div class="container">
        <ul class="icons-list">
            <li class="list-content">
                <img src="../static/images/tehno.jpg" alt="ноутбук із зображеними портретами людей" width="370" class="list-image">
                <h2 class="picture-title">Технокряк</h2>
                <p class="picture-description">Веб-сайт</p>
            </li>
            <li class="list-content">
                <img src="../static/images/poster.jpg" alt="два баскетбольні гравці змагаються за м'яч" width="370" class="list-image">
                <h2 class="picture-title">Постер New Orlean vs Golden Star</h2>
                <p class="picture-description">Дизайн</p>
            </li>
            <li class="list-content">
                <img src="../static/images/restaurant.jpg" alt="логотип ресторану з рибою на задньому фоні" width="370" class="list-image">
                <h2 class="picture-title">Ресторан Seafood</h2>
                <p class="picture-description">Додаток</p>
            </li>
            <li class="list-content">
                <img src="../static/images/prime.jpg" alt="сучасні бездротові навушники" width="370">
                <h2 class="picture-title">Проєкт Prime</h2>
                <p class="picture-description">Маркетинг</p>
            </li>
            <li class="list-content">
                <img src="../static/images/boxes.jpg" alt="біла та коричнева коробки з написами на них" width="370">
                <h2 class="picture-title">Проєкт Boxes</h2>
                <p class="picture-description">Додаток</p>
            </li>
            <li class="list-content">
                <img src="../static/images/inspiration.jpg" alt="монітор із зображеним на ньому веб-сайтом" width="370">
                <h2 class="picture-title">Inspiration has no Borders</h2>
                <p class="picture-description">Веб-сайт</p>
            </li>
            <li class="list-content">
                <img src="../static/images/limited.jpg" alt="відкрита книга із зображеннями та намисом limited edition" width="370">
                <h2 class="picture-title">Видання Limited Edition</h2>
                <p class="picture-description">Дизайн</p>
            </li>
            <li class="list-content">
                <img src="../static/images/lab.jpg" alt="бірка з написом label tag" width="370">
                <h2 class="picture-title">Проєкт LAB</h2>
                <p class="picture-description">Маркетинг</p>
            </li>
            <li class="list-content">
                <img src="../static/images/growing.jpg" alt="ноутбук із зображенням чоловіка в костюмі з планшетом в руках" width="370">
                <h2 class="picture-title">Growing Business</h2>
                <p class="picture-description">Додаток</p>
            </li>
        </ul>
        </div>
        
    </section>
</main>
<footer class="footer">
    <div class="container">
        <a href="" class="footer-logo">Web<span class="colorsplit-footer">Studio</span></a>
        <address class="address">
            <ul class="address-list">
                <li class="address-items">
                    <a href="" class="map-location">м. Київ, пр-т Лесі Українки, 26</a>
                </li>
                <li class="address-items">
                    <a href="mailto:info@devstudio.com" class="mail-footer">info@devstudio.com</a>
                </li>
                <li class="address-items">
                    <a href="tel:+380961111111" class="phone-footer">+38 096 111 11 11</a>
                </li>
            </ul>  
        </address>
    </div>
</footer>
</body>
</html>
